<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <form method="POST">
            Username <br>
            <input type="text"  name="username" required> <br>
            Password<br>
            <input type="password"  name="password" required> <br>
            Confirm Password <br>
            <input type="password"  name="password_repeat" required> <br>

            <button type="Submit" value="submit">Register</button>
            {% with errors = get_flashed_messages() %}
                <p class="text-danger">{{ errors[0] }}</p>
            {% endwith %}
        </form>
        <a href="/login">Already have an account?</a>
    </body>
</html>
