{% extends "test.html" %}
{% block title %}Login{% endblock title %}
{% block body %}
<form method="POST">
    {% with errors = get_flashed_messages() %}
        <p class="text-danger">{{ errors[0] }}</p>
    {% endwith %}
    Username <br>
    <input type="text"  name="username" required> <br>
    Password<br>
    <input type="password"  name="password" required> <br>
    <button type="Submit" value="submit">Login</button>
</form>
<a href="/create-account">Create An Account</a>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock body %}
