{% extends "base.html" %}
{% block title %} View Data {% endblock %}
{% block body %}

    <script>
        /*
         econData formatted as:
         [
            {
                title: string,
                "routing name": string,
                "start_date": string,
                "end_date": string
            },
            ...
         ]
         */
        var econData = JSON.parse('{{ data_sets_json|safe }}');
    </script>

    <a href = '/'> Back to homepage</a> <br>

    <svg id = "graph"> </svg>
    <select id="graph_selector">
      <option value = "none" selected></option>

      {% for data_set in data_sets %}
          <option value= {{data_set['routing_name']}}> {{data_set['title']}} </option>
      {% endfor %}
    </select>

    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script src = "static/js/view-data.js"> </script>

{% endblock %}
