{% extends "base.html" %}
{% block title %} Create a Case Study {% endblock title %}
{% block body %}




<ul id="masterlist" class="list-group list-group-flush">
  <li class="list-group-item">
    <div class="input-group mb-4">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Title:</span>
      </div>
      <input id="bigTitle" type="text" class="form-control" placeholder="Enter a Title" aria-label="Title" aria-describedby="basic-addon1">
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"> Write a Description: </span>
      </div>
      <textarea id = "description" oninput="auto_grow(this)" class="form-control textarea-autosize"></textarea>
    </div>

  </li>
  <li id="item1" class="list-group-item">
    <button id="textbutton" onclick="addtextinput()" class="btn btn-primary btn-outline-primary"> Add Text </button>
    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
    <button id="graphbutton" onclick="addgraphinput()" class="btn btn-primary btn-outline-primary"> Add Graph </button>
  </li>
</ul>
<div id = 'flashable'>
</div>
<br>
<button id="finalizeStudy" onclick="finalizeStudy()" class="btn btn-success"> Finalize Study </button>
<script>
  var econData = JSON.parse('{{ data_sets_json|safe }}');
</script>

<script src="../static/js/draw-graph.js"> </script>
<script src="../static/js/create-study.js"> </script>
<style>
  textarea {
    resize: none;
    overflow: hidden;
    min-height: 75px;
    max-height: 200px;
}
</style>
{% endblock %}
