{% extends "base.html" %}
{% block title %} Create a Case Study {% endblock title %}
{% block body %}


<ul id="masterlist" class="list-group list-group-flush">
  <li class="list-group-item">
    <div class="input-group mb-4">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Title:</span>
      </div>
      <input id="bigTitle" type="text" class="form-control" placeholder="Enter a Title" aria-label="Title" aria-describedby="basic-addon1">
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"> Write a Description: </span>
      </div>
      <textarea id = "description" class="form-control"></textarea>
    </div>

  </li>
  <li id="item1" class="list-group-item">
    <button id="textbutton" onclick="addtextinput()" class="btn btn-secondary"> Add Text </button>
    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
    <button id="graphbutton" onclick="addgraphinput()" class="btn btn-secondary"> Add Graph </button>
  </li>
</ul>
<br>
<button id="finalizeStudy" onclick="finalizeStudy()" class="btn btn-secondary"> Finalize Study </button>
<script>
  var econData = JSON.parse('{{ data_sets_json|safe }}');
</script>
<script src="../static/js/create-study.js"> </script>
{% endblock %}
