{% extends "base.html" %}
{% block title %} View Data {% endblock %}
{% block body %}

{% with errors = get_flashed_messages() %}
    <p class="text-danger">{{ errors[0] }}</p>
{% endwith %}


  <b> {{case_study['title']}},</b> by {{case_study['username']}} <br>
  <ul id = "case_study_container" class = "list-group">

  </ul>

  <a class="btn btn-secondary mt-3" href="/delete-study/{{id}}"> Delete This Study</a>

  <script>
    var content = {{case_study['content']|safe }};
  </script>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src = "../static/js/view-study.js"> </script>



{% endblock %}
