{% extends "base.html" %}
{% block title %} View Data {% endblock %}
{% block body %}

{% with errors = get_flashed_messages() %}
    <p class="text-danger">{{ errors[0] }}</p>
{% endwith %}

Hello, {{session['username']}}!
<hr>

<b> Your cases </b> <br>




{% for case in case_studies %}
{% if session['username'] == case['username'] %}
<div class="row">
  <div class="col-2">
  </div>
  <div class="col-8">
    <a href="/view-study/{{case['_id']}}"> {{case['title']}} </a> <br>
      {{case['description']}}<br>
  </div>
  <div class="col-2">
    <a class="btn btn-secondary" href="/delete-study/{{case['_id']}}"> Delete This Study </a>
  </div>
</div>
<hr>
{% endif %}
{% endfor %} <br>

<b> Public cases </b> <br>
{% for case in case_studies %}
{% if session['username'] != case['username'] %}
<a href="/view-study/{{case['_id']}}"> {{case['title']}} </a> <br>
{{case['description']}}<br>
<hr>
{% endif %}

{% endfor %}

{% endblock %}
