{% extends "base.html" %}
{% block title %} View Data {% endblock %}
{% block body %}

{% if session["username"] == case_study["username"] %}
<div id = 'flashable'>
</div>


<ul id="masterlist" class="list-group list-group-flush">
  <li class="list-group-item">
    <div class="input-group mb-4">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Title:</span>
      </div>
      <input id="bigTitle" type="text" class="form-control" placeholder="Enter a Title" aria-label="Title" aria-describedby="basic-addon1" value="{{case_study['title']}}">
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"> Write a Description: </span>
      </div>
      <textarea id="description" oninput="auto_grow(this)" class="form-control"> {{case_study['description']}} </textarea>
    </div>

  </li>
  <li id="item1" class="list-group-item">
    <button id="textbutton" onclick="addtextinput()" class="btn btn-outline-primary"> Add Text </button>
    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
    <button id="graphbutton" onclick="addgraphinput(true)" class="btn btn-outline-primary"> Add Graph </button>
  </li>
</ul>

<a class="btn btn-success mt-3 mr-2 text-light" onclick="updateStudy()"> Update Study </a>

<a class="btn btn-danger mt-3 ml-5 text-light" onclick="deleteStudy('{{id}}')"> Delete This Study </a>



<script>
  var id = "{{id}}";
  var econData = {{econ_data | safe}};
  var editable = true;
  var study = {{case_study | safe}};

  var deleteStudy = function(id) {
    fetch("/delete-study/" + id, {
        method: "DELETE"
      })
      .then(() => {
        window.location = "/home";
      });
  }
</script>

{% else %}

<b> {{case_study['title']}},</b> by {{case_study['username']}} <br> <br>



<ul id="case_study_container" class="list-group">

</ul>

<script>
  var editable = false;
  var content = {{case_study['content'] | safe}};
  var id = "{{id}}";

</script>

{% endif %}




<div class="list-group mt-5" id="comments">
  {% if 'username' in session %}
  <div class="list-item border-top border-bottom border-dark pt-3 pb-3">
    <div class="row">
      <div class="col-2">
        <p> Add Comment! </p>
      </div>
      <div class="col-8">
        <textarea class="form-control" oninput="auto_grow(this)" id="userComment" rows="1"></textarea>
      </div>
      <div class="col-2">
        <button class="btn btn-outline-success" onclick="addComment()"> Add Comment </button>
      </div>
    </div>
  </div>
  {% endif %}
  {% if 'comments' in case_study %}
  {% for comment in case_study['comments'] %}
  <div class="list-item pt-3 pb-3 border-bottom border-dark">
    <div class="row">
      <div class="col-2 text-center">
        <div class="input-group-prepend">
          <div class="input-group-text text-primary">{{comment['username']}}</div>
        </div>
      </div>
      <div class="col-10">
        <input class="form-control" type="text" placeholder="{{comment['comment']}}" readonly>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>


<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="../static/js/create-study.js"> </script>

<script src="../static/js/draw-graph.js"> </script>
<script src="../static/js/view-study.js"> </script>

<style>
  textarea {
    resize: none;
    overflow: hidden;
    min-height: 75px;
    max-height: 200px;
}
</style>


{% endblock %}
